[package]
name = "stapifaction"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
stapifaction_derive = { optional = true, path = "../stapifaction_derive" }
serde = { version = "1.0" }
serde_json = { version = "1.0", optional = true }
erased-serde = "0.3"
eyre = "0.6"

[features]
default = ["derive"]

derive = ["stapifaction_derive"]
json = ["serde_json"]
